body {
    font-family: Helvetica, Arial, sans-serif;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 300px;
    margin: 0 auto;
    background-color: #535353;
    color: white;
}

button {
    grid-column: span 1;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #7e7e7e;
    color: white;
    border: 1px solid #535353;
}

#display {
    grid-column: span 4;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #535353;
    border: 1px solid #535353;
}

#zeroBtn {
    grid-column-start: 1;
    grid-column-end: 3;
}

.operator {
    background-color: #f2a43c;
}
