body {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 300px;
    margin: 0 auto;
    background-color: #535353;
    color: white;
    border-radius: 5%;
    overflow: hidden;
    gap: 1px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
}

button {
    grid-column: span 1;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #7e7e7e;
    color: white;
    border: none;
    transition: 0.1s ease-in;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #dcdcdc;
}

#display {
    grid-column: span 4;
    padding: 10px;
    font-size: 3rem;
    text-align: right;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #535353;
    border: 1px solid #535353;
    font-weight: 400;
    height: 5rem;
}

#zeroBtn {
    grid-column-start: 1;
    grid-column-end: 3;
}

.operator,
.equals {
    background-color: #f1a43c;
    transition: 0.1s ease-in;
}

.operator:hover,
.equals:hover {
    background-color: #c28632;
}

.operator:active,
.operator,
.equals:active {
    background-color: #f8b359;
}
